.colonna{
    width: calc(100% / 2 - 30px);
    display: inline-block;
    padding: 2%;
}

.text{
    min-height: 400px;
    background-color: blue;
}

.input{
    min-height: 400px;
    background-color: blueviolet;
}