*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

section{
    margin: 40px 0;
}

.flex-space_bet{
    display: flex;
    justify-content: space-between;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.flex-align_center{
    display: flex;
    align-items: center;
}

.flex-align_start{
    display: flex;
    align-items: flex-start;
}

a{
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
}

.bottone{
    padding: 5px 12px;
    background-color: rgb(0, 97, 255);
    border: none;
    font-size: 14px;
}

.bottone-grande{
    padding: 10px 15px;
}

h2{
    font-size: 30px;
    margin-bottom: 60px;
}

h3{
    font-size: 20px;
}

/* HEADER */
header{
    height: 60px;
    width: 100%;
    padding: 15px 5px;
    font-size: 13px;
    background-color: white;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
}

.nav-container li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    padding-bottom: 22px;

}

.hover-nav{
    transition: all 60ms ease-out;
}

.nav-container a{
    color: rgb(120, 120, 120);
}

.bottone a{
    color: rgb(255, 255, 255);
}

/* animazioni header */

.hover-nav:hover{
    border-bottom: 3px solid blue;
}

/* JUMBOTRON */
#jumbotron{
    background-color: rgb(180, 208, 231);
    height: 700px;
}

#container-jumbo{
    width: 66%;
}

#title{
    margin-top: 120px;
    margin-bottom: 30px;
    font-size: 30px;
}

#jumbo-des{
    width: 32%;
    font-size: 14px;
}

#jumbo-des i{
    font-size: 40px;
    margin-top: 50px;
}

.spazio-bottone{
    margin: 30px 0;
}

#jumbo-img{
    width: 68%;
}


/* MAIN */
main{
    margin-top: 70px;
    font-size: 13px;
}

.container-main section{
    width: 55%;
}

main a{
    color: black;
}

    /* piani di abbonamento */

#fatt-type{
    margin-bottom: 60px;
}

#fatt-type span{
    margin-right: 20px;
}

#sub-container{
    min-height: 700px;
}

    /* colonna tipo abbonamento */
.subscription_column{
    width: calc(100% / 3 - 30px);
    border: 2px solid rgb(215, 215, 215);
}

.column-icon{
    text-align: center;
    padding: 5px 20%;
    border-bottom: 2px solid rgb(215, 215, 215);
}

.column-content_padding{
    padding: 25px 7%;
}

.column-title{
    margin-bottom: 40px;
}

.text-gray{
    color: rgb(145, 145, 145);
}

.plan-detail{
    height: 140px;
}

.plan-detail.height-auto{
    height: auto;
}

.plan-detail-icon{
    margin-right: 10px;
}

.plan-detail-text{
    margin-bottom: 10px;
}

.button-subscription{
    margin: 30px 0;
    padding: 10px 0;
    text-align: center;
    background-color: rgb(0, 97, 255);
    color: white;
    cursor: pointer;
}

.buy-now a{
    color: blue;
    text-decoration: underline;
}

.fake-border{
    margin: 40px 0;
    width: 25%; 
    height: 2px;
    background-color: rgb(215, 215, 215);
}

.salienti{
    margin-bottom: 15px;
}

.blue{
    color: blue;
}

    /* enterprise */
#enterprise{
    margin-top: 50px;
    border: 2px solid rgb(215, 215, 215);
}

#enterprise-content{
    margin: 3%; 
}

.enterprise-title{
    position: relative;
}

.enterprise-title p{
    margin-top: 40px;
}

.enterprise-title button{
    position: absolute;
    right: 0;
    top: 0;
}

/* trova partner */
#trova-partner_img{
    width: 60%;
}

#trova-partner_content{
    width: 40%;
    padding: 5%;

}

#button-partner{
    background-color: transparent;
    border: 2px solid rgb(120, 120, 120);
}

#button-partner a{
    color: rgb(120, 120, 120);
}

/* funzionalità con img e descrizione */
.function-box{
    width: calc(100% / 3 - 20px);
    margin-bottom: 30px;
}

#section-title_margin{
    margin: 100px 0;
}

#section-title_margin a{
    color: blue;
    text-decoration: underline;
}

/*  */
#partner-container{
    min-height: 200px;
}

.partner-box{
    width: 50%;
    height: 50%;
}

svg{
    width: 50%;
    display: inline-block;
    color: white;
}

#partner-description{
    background-color: rgb(245, 245, 245);
    width: 34%;
    height: 500px;
    padding: 3%;
}

#partner-description_content{
    height: 100vh;
    overflow-y: auto;
}

.partner-box_container{
    width: 33%;
}

#designit{
    background-color: rgb(162, 211, 155);
}

#asu{
    background-color: rgb(97, 8, 43);
}

#uf{
    background-color: rgb(0, 147, 206);
}

#topps{
    background-color: rgb(255, 28, 28);
}

#wbr{
    background-color: rgb(213, 0, 31);
}

#hearst{
    background-color: rgb(180, 208, 231);
}

#lonely{
    background-color: rgb(13, 36, 129);
}

#cco{
    background-color: rgb(255, 216, 48);
}

/* prova gratuita */
#free-trial{
    background-color: rgb(180, 208, 231);
    padding: 8% 22%;
    min-height: 300px;
    align-items: flex-start;
}

#free-trial h2{
    margin: 0;
    color: rgb(98, 13, 46);
}

#button-free_trial{
    background-color: white;
}

#button-free_trial a{
    color: black;
}

/* FAQ */
.faq{
    padding: 5% 0;
    position: relative;
}

.faq i{
    position: absolute;
    right: 5%;
}

#middle{
    border-top: 2px solid rgb(182, 182, 182);
    border-bottom: 2px solid rgb(182, 182, 182);
}

#top{
    border-top: 2px solid rgb(182, 182, 182);
}

#bottom{
    border-bottom: 2px solid rgb(182, 182, 182); 
}

/* footer */
footer{
    background-color: black;
    padding: 5% 10%;
    color: white;
}

.footer-column{
    width: calc(100% / 5 - 30px);
}

.footer-column li:first-child{
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.footer-column li{
    padding-bottom: 10px;
    list-style-type: none;
    font-size: 13px;
}

footer a{
    color: white;
}

.footer-column a:hover{
    text-decoration: underline;
}

#lenguage a{
    color: rgb(167, 167, 167);
    font-size: 12px;
}

#fake-border_footer{
    background-color: rgb(167, 167, 167);
    width: 8%;
    height: 1px;
}