*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

.flex{
    display: flex;
    justify-content: space-between;
}

/* HEADER */
li{
    list-style-type: none;
}

.nav-container{
    /* debug */
    min-height: 40px;
    min-width: 100px;
    background-color: aqua;
}