*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

.flex-space_bet{
    display: flex;
    justify-content: space-between;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.flex-align_center{
    align-items: center;
}

a{
    text-decoration: none;
}

.bottone{
    padding: 5px 12px;
    background-color: rgb(0, 97, 255);
    border: none;
    font-size: 14px;
}

.bottone-grande{
    padding: 10px 15px;
}

/* HEADER */
header{
    height: 60px;
    width: 100%;
    padding: 15px 5px;
    font-size: 13px;
    background-color: white;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
}

li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-container a{
    color: rgb(120, 120, 120);
}

.bottone a{
    color: rgb(255, 255, 255);
}

/* JUMBOTRON */
#jumbotron{
    background-color: rgb(180, 208, 231);
}

#container-jumbo{
    width: 66%;
}

#title{
    margin-top: 120px;
    margin-bottom: 30px;
    font-size: 30px;
}

#jumbo-des{
    width: 32%;
    font-size: 14px;
}

.spazio-bottone{
    margin: 30px 0;
}

#jumbo-img{
    width: 68%;
}

#jumbo-img img{
    width: 100%;
}

/* MAIN */

.container-main section{
    width: 55%;
    /* debug */
    background-color: bisque;
    min-height: 500px;
    border: 2px solid black;
}

    /* piani di abbonamento */