*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

section{
    margin: 40px 0;
}

.flex-space_bet{
    display: flex;
    justify-content: space-between;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.flex-align_center{
    display: flex;
    align-items: center;
}

.flex-align_start{
    display: flex;
    align-items: flex-start;
}

a{
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
}

.bottone{
    padding: 5px 12px;
    background-color: rgb(0, 97, 255);
    border: none;
    font-size: 14px;
}

.bottone-grande{
    padding: 10px 15px;
}

/* HEADER */
header{
    height: 60px;
    width: 100%;
    padding: 15px 5px;
    font-size: 13px;
    background-color: white;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
}

li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-container a{
    color: rgb(120, 120, 120);
}

.bottone a{
    color: rgb(255, 255, 255);
}

/* JUMBOTRON */
#jumbotron{
    background-color: rgb(180, 208, 231);
    height: 700px;

}

#container-jumbo{
    width: 66%;
}

#title{
    margin-top: 120px;
    margin-bottom: 30px;
    font-size: 30px;
}

#jumbo-des{
    width: 32%;
    font-size: 14px;
}

#jumbo-des i{
    font-size: 40px;
    margin-top: 50px;
}

.spazio-bottone{
    margin: 30px 0;
}

#jumbo-img{
    width: 68%;
}

/* MAIN */
main{
    margin-top: 70px;
    font-size: 13px;
}

.container-main section{
    width: 55%;
    /* debug */
    min-height: 500px;
}

main a{
    color: black;
}

.section-title h2{
    font-size: 30px;
    margin-bottom: 60px;
}

    /* piani di abbonamento */

#fatt-type{
    margin-bottom: 40px;
}

#fatt-type span{
    margin-right: 20px;
}

#sub-container{
    min-height: 700px;
}

        /* colonna tipo abbonamento */
.subscription-column{
    width: calc(100% / 3 - 30px);
    border: 2px solid rgb(215, 215, 215);
    min-height: 100px;
}

.icon{
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid rgb(215, 215, 215);
}

.row{
    width: 85%;
}

.title{
    margin: 40px 0;
    position: relative;
}

h3{
    font-size: 20px;
}

.price-description{
    color: rgb(120, 120, 120);
    display: inline-block;
    margin-top: 10px;
}

.description{
    margin-bottom: 30px;
}

.description div{
    margin: 5px 0;
}

.description-icon{
    width: 10%;
}

.description-icon.blue{
    color: rgb(0, 97, 255);
}

.description-text{
    width: 90%;
}

.button-subscription{
    margin: 30px 0;
    padding: 10px 0;
    text-align: center;
    background-color: rgb(0, 97, 255);
    color: white;
    cursor: pointer;
}

.buy-now a{
    color: blue;
    text-decoration: underline;
}

.fake-margin{
    margin: 40px 0;
    width: 25%; 
    height: 2px;
    background-color: rgb(215, 215, 215);
}

.salienti{
    margin-bottom: 15px;
}

    /* enterprise */
#enterprise{
    margin-top: 50px;
    border: 2px solid rgb(215, 215, 215);

    min-height: 250px;
}

#enterprise-content{
    margin: 3%; 
}

.title p{
    margin-top: 40px;
}

.title button{
    position: absolute;
    right: 0;
    top: 0;
}

/* trova partner */
#trova-partner_img{
    width: 60%;
}

#trova-partner_content{
    width: 40%;
    padding: 5%;

}

#button-partner{
    background-color: transparent;
    border: 2px solid rgb(120, 120, 120);
}

#button-partner a{
    color: rgb(120, 120, 120);
}

